{% extends 'base.html' %}
{% load static %}
{% block content %}


<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section pt-5">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-shopping-cart" style="font-size:18px"></i>Review Your Billing Address</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        <div class="billing-address">
                                            <div><b>{{order.name}}</b></div>
                                            <div>{{order.address}}</div>
                                            <div>{{order.city}}, {{order.pin_code}}, {{order.state}},{{order.country}}</div>
                                            <div><b>Phone: </b>{{order.phone}}</div>
                                            <div><b>Email: </b>{{order.email}}</div>
                                            <div><b>Payment: </b>{{order.payment_method}}</div>
                                            <br>
                                            <div><a href="{% url 'checkout' %}" class="btn btn-danger">Edit</a></div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Your Order Section-->
                <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Orders</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder pb-1">
                                <div>
                                    <table class="table">
                                        <tbody>
                                            {% for item in cart_items %}
                                            <tr>
                                                <td><img src="{{item.fooditem.image.url}}" alt="Food Image" width="40"></td>
                                                <td><b>{{ item.fooditem }}</b></td>
                                                <td>{{ item.quantity }}</td>
                                                <td>Rs.{{ item.fooditem.price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <ul>
                                        <li style="list-style-type: none;">
                                            Subtotal
                                            <span class="price float-right">
                                                <span class="currency">Rs</span>
                                                <span id="subtotal">{{subtotal}}</span>
                                            </span>
                                        </li>
                                        {% for key,value in tax_dict.items %}
                                            {% for i,k in value.items  %}
                                                <li style="list-style-type: none;">
                                                    {{key}} ({{i}} %)
                                                    <span class="price float-right">
                                                        <span class="currency">Rs</span>
                                                        <span id="tax-{{key}}">{{k}}</span>
                                                    </span>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                        <li style="list-style-type: none; font-weight: 600;">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">Rs</span>
                                                <span id="total">{{grand_total}}</span>
                                            </span>
                                        </li>

                                        <!--PayPal CheckOut Button-->
                                        <div id="smart-button-container" class="mt-3">
                                            <div style="text-align: center;">
                                                <div id="paypal-button-container"></div>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--Your Order Section-->
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->

{% include 'includes/alerts.html' %}
{% include 'orders/paypal-script.html' %}
{% endblock content %}